<footer class="bg-dark mt-auto ">

    <div class="container mt-md-4 mt-4 py-2 text-white ">
        
        <p class="text-muted">Blood Donation is a web based platform which help us to donate blood and find blood for any emergency</p>
        <hr class="mb-2">
        <p class="text-muted">Copyright ©2021 All rights reserved by :
            <a href="." target="_blank"
                style="text-decoration: none;">
                <span class="text-white  text-muted ">Ankita Rai</span></a>
                <a class="text-white text-white  text-muted" target="_blank" href="https://www.linkedin.com/in/ankita-rai-255311217/"><i class="lab la-linkedin-in fs-5"></i></a>
                <a class="text-white text-white  text-muted"  target="_blank" href="#"><i class="lab la-instagram fs-5"></i></a>
                <a class="text-white text-white  text-muted" target="_blank"  href="https://github.com/ankitarai06"><i class="lab la-github fs-5"></i></a>
        </p>
    </div>
        
   

</footer>