<nav class="navbar navbar-expand-lg navbar-light bg-danger ">
    <div class="container-fluid">
      <a class="navbar-brand text-white fs-3 fw-bold" href="/dashboard">Blood Donation </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto   mb-2 mb-lg-0">
           <li class="nav-items">
               <a href="/donate" class="nav-link text-white ">Donate Blood</a>
           </li>
           <li class="nav-items">
            <a href="/findblood" class="nav-link text-white">Find Blood</a>
           </li>
           <li class="nav-items">
            <a href="/request" class="nav-link text-white ">Request</a>
           </li>
           <li class="nav-items">
            <a href="#Aboutus" class="nav-link text-white ">About Us</a>
           </li>
           <li class="nav-items">
            <a href="/exit" class="nav-link text-white ">Exit</a>
           </li>
           </ul>
           
      </div>
    </div>
  </nav>