
  <%- include("./partials/header.ejs") %>
<section id="main-bg" class="p-0 d-flex flex-column justify-content-center shadow " >
    <div class="container-fluid text-white text-center bg-text my-md-4 my-3" >
        <div class="row fs-4 fw-bold p-2 my-3">
            <div>DONATE BLOOD, SAVE LIFE! </div>
        </div>
        <div class="row fs-1 fw-bold p-2 my-3">
            <div> DONATE YOUR BLOOD AND INSPIRE<br>
                OTHERS TO DONATE.</div>
        </div>
        <div class="row fs-5 p-2 my-3  ">
            <div> <a href="/donate" class="btn btn-danger btn-lg   px-5 fw-bold fs-3">Donate</a></div>
        </div>
    </div>
</section>


<div class="container text-center my-md-4 my-3  "  id="Aboutus">
         
  <div class="card shadow-lg mx-auto p-md-5 p-3 " style="width: 25rem;">
      <img src="/public/images/Ankita.jpg" height="350px" class="  shadow rounded-circle card-img-top" alt="">
      <h4 class="card-title text-dark mt-3">Ankita Rai </h4>
      <strong class="card-title text-primary">Web developer</strong>
     
      <span class="mb-2 fs-2" ><a href="https://github.com/ankitarai06" target="_blank" class="text-dark"><i class="lab la-github"></i></a>
    <a href="https://www.linkedin.com/in/ankita-rai-255311217/" target="_blank" class="text-"><i class="lab la-linkedin-in"></i></a>
<a href="#" class="text-danger" target="_blank"> <i class="lab la-instagram"></i></a></span>
  </div>

</div>

<%- include("./partials/footer.ejs") %>